<!DOCTYPE html>
<html>
    <head>
        <title>Jobify</title>
        <link rel="stylesheet" href="css/chome.css">
    </head>
    <body>
        <div class="header">
            <a class="logo">
                <img src="imgs/logo.png" height="35px">
            </a>
            <div class="header-right">
              <a class="active" href="candhome.html">Home</a>
              <a href="reccont.html">Contact</a>
              <a href="recabout.html">About</a>
            </div>
        </div>
        <div class="sidebar">
            <a class="active" href="prof.html" target="cont">Profile</a>
            <a href="comp" target="cont">Company</a>
            <a href="hire.html" target="cont">Hiring</a>
            <button value="Log Out">Log Out</button>
        </div>
        <div class="content">   
            <iframe name="cont" height="590px" width="1125px"></iframe>
        </div>
    </body>
</html>