<!DOCTYPE html>
<html>
<head>
    <title>Jobify</title>
    <link rel="stylesheet" href="/css/chome.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Add custom style to override chome.css */
        .header .header-right a.active {
            background-color: rgb(167, 0, 0); /* Change active link background color to red */
        }
    </style>
</head>
<body>
    <div class="header">
        <a class="logo">
            <img src="imgs/logo.png" height="35px">
        </a>
        <header>
            <h1>Welcome, <span th:text="${session.loggedInUser}"></span>!</h1>
        </header>
        <div class="header-right">
          <a class="active" href="/rechome">Home</a>
          <a href="reccont.html">Contact</a>
          <a href="recabout.html">About</a>
          <a href="/logout">Log Out</a>
        </div>
    </div>
    <script src="/js/dashboard.js"></script>
    <div class="sidebar">
        <a class="active" href="prof.html" target="cont">Profile</a>

        <a href="javascript:void(0)" onclick="loadDynamicPage();" target="cont">Dashboard</a>

        <a href="new_disp" target="cont" >Hiring</a>
    </div>
    <div class="content">   
        <iframe name="cont" height="590px" width="1125px"></iframe>
    </div>
</body>
</html>
